<a href="https://colab.research.google.com/github/Rakhimovvv/Malumotlarni-uyg-unlashtirish-ulash-va-qayta-tiklash/blob/main/Iyerarxik_indeksli_ma%CA%BClumotlar_to%CA%BBplami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
data =pd.Series(np.random.randn(9),index=['a' , 'a' ,'a', 'b','b', 'b' , 'd' ,'d' ,'d'])
data.index

Index(['a', 'a', 'a', 'b', 'b', 'b', 'd', 'd', 'd'], dtype='object')

In [5]:
data =pd.Series(np.random.randn(9),
                index=[['a' , 'a' ,'a', 'b','b', 'b' , 'd' ,'d' ,'d'] , [1 , 1 , 2 , 3 ,4 , 3 ,2 ,2, 6]])
data

a  1   -1.443846
   1   -0.731529
   2    1.562539
b  3   -0.221644
   4    0.703764
   3   -0.740534
d  2   -0.484636
   2   -0.471443
   6   -0.094722
dtype: float64

In [6]:
data['a']

1   -1.443846
1   -0.731529
2    1.562539
dtype: float64

In [7]:
data['b':'d']

b  3   -0.221644
   4    0.703764
   3   -0.740534
d  2   -0.484636
   2   -0.471443
   6   -0.094722
dtype: float64

In [8]:
data[:,6]

d   -0.094722
dtype: float64

unstack

In [15]:
data.unstack()

ValueError: Index contains duplicate entries, cannot reshape