<a href="https://colab.research.google.com/github/Rakhimovvv/Malumotlarni-uyg-unlashtirish-ulash-va-qayta-tiklash/blob/main/Iyerarxik_indeksli_ma%CA%BClumotlar_to%CA%BBplami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data =pd.Series(np.random.randn(9),index=['a' , 'a' ,'a', 'b','b', 'b' , 'd' ,'d' ,'d'])
data.index

Index(['a', 'a', 'a', 'b', 'b', 'b', 'd', 'd', 'd'], dtype='object')

In [ ]:
data =pd.Series(np.random.randn(9),
                index=[['a' , 'a' ,'a', 'b','b', 'b' , 'd' ,'d' ,'d'] , [1 , 1 , 2 , 3 ,4 , 3 ,2 ,2, 6]])
data

a  1    0.026811
   1   -0.896433
   2    1.129707
b  3    1.596464
   4    1.079304
   3    1.246007
d  2    0.276188
   2    1.165473
   6   -0.595204
dtype: float64

In [ ]:
data['a']

1    0.026811
1   -0.896433
2    1.129707
dtype: float64

In [ ]:
data['b':'d']

b  3    1.596464
   4    1.079304
   3    1.246007
d  2    0.276188
   2    1.165473
   6   -0.595204
dtype: float64

In [ ]:
data[:,6]

d   -0.595204
dtype: float64